<section class="added-page py-[0px] px-[10px] min-h-screen">
  <div
    class="header-title shadow-block flex items-center justify-between w-[100%]"
  >
    <h1 class="title text-2xl font-bold text-indigo-500">Создать новый quiz</h1>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="40"
      height="40"
      viewBox="0 0 24 24"
    >
      <g
        fill="none"
        stroke="#4F45E5"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      >
        <path
          stroke-dasharray="64"
          stroke-dashoffset="64"
          d="M3 12c0 -4.97 4.03 -9 9 -9c4.97 0 9 4.03 9 9c0 4.97 -4.03 9 -9 9c-4.97 0 -9 -4.03 -9 -9Z"
        >
          <animate
            fill="freeze"
            attributeName="stroke-dashoffset"
            dur="0.6s"
            values="64;0"
          />
        </path>
        <path stroke-dasharray="12" stroke-dashoffset="12" d="M7 12h10">
          <animate
            fill="freeze"
            attributeName="stroke-dashoffset"
            begin="0.6s"
            dur="0.2s"
            values="12;0"
          />
        </path>
        <path stroke-dasharray="12" stroke-dashoffset="12" d="M12 7v10">
          <animate
            fill="freeze"
            attributeName="stroke-dashoffset"
            begin="0.8s"
            dur="0.2s"
            values="12;0"
          />
        </path>
      </g>
    </svg>
  </div>
  <div class="card bg-base-100 mx-auto shadow-block h-full overflow-y-auto">
    <div class="mt-4 px-[16px]">
      <div *ngIf="errorMessage" class="alert alert-error relative mb-4">
        {{ errorMessage }}
        <span class="close" (click)="errorMessage = null">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="36"
            height="36"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10s10-4.47 10-10S17.53 2 12 2m0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8s8 3.59 8 8s-3.59 8-8 8m3.59-13L12 10.59L8.41 7L7 8.41L10.59 12L7 15.59L8.41 17L12 13.41L15.59 17L17 15.59L13.41 12L17 8.41z"
            />
          </svg>
        </span>
      </div>

      <figure *ngIf="newQuiz.previewImage">
        <img
          [src]="newQuiz.previewImage"
          alt="Quiz Preview Image"
          class="max-w-full h-auto object-cover object-center"
          (error)="newQuiz.previewImage = ''"
        />
      </figure>

      <div class="edit-quiestion-wrapper questions-wrapper">
        <div class="form-controll flex items-center gap-2 mt-2 mb-4">
          <label for="isActive" class="block text-sm text-indigo-400"
            >Активен</label
          >
          <input
            [(ngModel)]="newQuiz.isActive"
            type="checkbox"
            class="checkbox checkbox-info"
          />
        </div>

        <label for="title" class="block text-sm text-indigo-400"
          >Название квиза</label
        >
        <input
          [(ngModel)]="newQuiz.title"
          type="text"
          placeholder="Название квиза"
          class="input block w-full placeholder-gray-500 border border-indigo-200 bg-white px-5 py-2.5 text-gray-800 focus:border-indigo-500 focus:outline-none focus:ring focus:ring-indigo-300 focus:ring-opacity-40"
        />

        <label for="description" class="block text-sm text-indigo-400 mt-4"
          >Описание</label
        >
        <textarea
          [(ngModel)]="newQuiz.description"
          placeholder="Описание квиза"
          class="block mt-2 w-full h-[100px] placeholder-gray-500 border border-indigo-200 bg-white px-4 py-2.5 text-gray-800 focus:border-indigo-500 focus:outline-none focus:ring focus:ring-indigo-300 focus:ring-opacity-40 rounded-[22px]"
        ></textarea>

        <label for="firstPage" class="block text-sm text-indigo-400 mt-4"
          >Текст первой страницы</label
        >
        <textarea
          [(ngModel)]="newQuiz.firstPage"
          placeholder="Текст первой страницы"
          class="block mt-2 w-full h-[100px] placeholder-gray-500 border border-indigo-200 bg-white px-4 py-2.5 text-gray-800 focus:border-indigo-500 focus:outline-none focus:ring focus:ring-indigo-300 focus:ring-opacity-40 rounded-[22px]"
        ></textarea>

        <label for="previewImage" class="block text-sm text-indigo-400 mt-4">
          Ссылка на изображение превью (пример:
          https://i.ibb.co/5X5Jxv13/quiz2.png)
        </label>
        <input
          [(ngModel)]="newQuiz.previewImage"
          type="text"
          placeholder="https://i.ibb.co/5X5Jxv13/quiz2.png"
          (input)="refreshImage()"
          class="input block w-full placeholder-gray-500 border border-indigo-200 bg-white px-5 py-2.5 text-gray-800 focus:border-indigo-500 focus:outline-none focus:ring focus:ring-indigo-300 focus:ring-opacity-40"
        />

        <label for="finalPage" class="block text-sm text-indigo-400 mt-4"
          >Финальная страница</label
        >
        <textarea
          [(ngModel)]="newQuiz.finalPage"
          placeholder="Текст финальной страницы"
          class="block mt-2 w-full h-[100px] placeholder-gray-500 border border-indigo-200 bg-white px-4 py-2.5 text-gray-800 focus:border-indigo-500 focus:outline-none focus:ring focus:ring-indigo-300 focus:ring-opacity-40 rounded-[22px]"
        ></textarea>
      </div>

      <h3 class="text-xl text-center font-bold text-gray-500 mt-4 mb-2">
        Вопросы:
      </h3>
      <div *ngIf="newQuiz.questions && newQuiz.questions.length > 0">
        <div
          *ngFor="let question of newQuiz.questions; let i = index"
          class="questions-wrapper"
        >
          <div
            class="form-controll w-full flex items-center justify-between mb-4"
          >
            <label class="text-xl text-indigo-500 label-question font-bold"
              >Вопрос {{ i + 1 }}</label
            >
            <button class="btn btn-sm" (click)="removeQuestion(i)">
              Удалить вопрос
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                viewBox="0 0 24 24"
              >
                <path
                  fill="#f00"
                  d="M12 20c-4.41 0-8-3.59-8-8s3.59-8 8-8s8 3.59 8 8s-3.59 8-8 8m0-18C6.47 2 2 6.47 2 12s4.47 10 10 10s10-4.47 10-10S17.53 2 12 2m2.59 6L12 10.59L9.41 8L8 9.41L10.59 12L8 14.59L9.41 17L12 13.41L15.59 17L17 15.59L13.41 12L17 8.41z"
                />
              </svg>
            </button>
          </div>
          <input
            [(ngModel)]="question.text"
            type="text"
            placeholder="Текст вопроса"
            class="input block w-full placeholder-gray-500 border border-indigo-200 bg-white px-5 py-2.5 text-gray-800 focus:border-indigo-500 focus:outline-none focus:ring focus:ring-indigo-300 focus:ring-opacity-40"
          />
          <label class="block text-sm text-indigo-400 mt-2"
            >Изображение вопроса (опционально)</label
          >
          <input
            [(ngModel)]="question.image"
            type="text"
            placeholder="https://example.com/question-image.jpg"
            class="input block w-full placeholder-gray-500 border border-indigo-200 bg-white px-5 py-2.5 text-gray-800 focus:border-indigo-500 focus:outline-none focus:ring focus:ring-indigo-300 focus:ring-opacity-40"
          />
          <div
            *ngFor="let answer of question.answers; let j = index"
            class="mt-2"
          >
            <label class="block text-sm text-indigo-400"
              >Ответ {{ j + 1 }}</label
            >
            <div class="flex items-center gap-2">
              <input
                [(ngModel)]="answer.text"
                type="text"
                placeholder="Текст ответа"
                class="input block w-full placeholder-gray-500 border border-indigo-200 bg-white px-5 py-2.5 text-gray-800 focus:border-indigo-500 focus:outline-none focus:ring focus:ring-indigo-300 focus:ring-opacity-40"
              />
              <label class="flex items-center gap-2">
                Правильный:
                <input
                  [(ngModel)]="answer.isCorrect"
                  type="checkbox"
                  class="checkbox checkbox-info"
                />
              </label>
              <label class="flex items-center gap-2">
                Баллы:
                <input
                  [(ngModel)]="answer.points"
                  type="number"
                  placeholder="0"
                  class="input w-[100px] placeholder-gray-500 border border-indigo-200 bg-white px-5 py-2.5 text-gray-800 focus:border-indigo-500 focus:outline-none focus:ring focus:ring-indigo-300 focus:ring-opacity-40"
                />
              </label>
              <button
                class="btn btn-circle icon-cancel hover:btn-error hover:fill-white hover:text-white"
                (click)="removeAnswer(i, j)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="30"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill="#e54545"
                    d="M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12l1.41 1.41L13.41 14l2.12 2.12l-1.41 1.41L12 15.41l-2.12 2.12l-1.41-1.41L10.59 14zM15.5 4l-1-1h-5l-1 1H5v2h14V4z"
                  />
                </svg>
              </button>
            </div>
          </div>
          <button class="btn btn-sm mt-2" (click)="addAnswer(i)">
            Добавить ответ
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
            >
              <path
                fill="#89e545"
                d="M12 20c-4.41 0-8-3.59-8-8s3.59-8 8-8s8 3.59 8 8s-3.59 8-8 8m0-18A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2m1 5h-2v4H7v2h4v4h2v-4h4v-2h-4z"
              />
            </svg>
          </button>
        </div>
        <div class="btn-wrapper flex w-full justify-center">
          <button
            class="btn-added-question btn btn-success mt-4 flex items-center gap-4"
            (click)="addQuestion()"
          >
            Добавить вопрос
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                d="M12 20c-4.41 0-8-3.59-8-8s3.59-8 8-8s8 3.59 8 8s-3.59 8-8 8m0-18A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2m1 5h-2v4H7v2h4v4h2v-4h4v-2h-4z"
              />
            </svg>
          </button>
        </div>
      </div>

      <div class="card-actions justify-center pt-[40px] pb-[20px]">
        <span class="btn btn-ghost btn-error" (click)="clearForm()">
          <app-cancel-ico></app-cancel-ico>
        </span>
        <button
          class="btn btn-ghost btn-success pr-0 text-success"
          (click)="saveQuiz()"
          [disabled]="
            isLoading ||
            (newQuiz.previewImage && !isValidImageUrl(newQuiz.previewImage))
          "
        >
          <span
            *ngIf="isLoading"
            class="loading loading-spinner text-info"
          ></span>
          <ng-container *ngIf="!isLoading">
            Создать
            <span class="btn btn-soft btn-success">
              <app-done-ico></app-done-ico>
            </span>
          </ng-container>
        </button>
      </div>
    </div>
  </div>
</section>
